<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <a href="#" class="navbar-brand col-sm-3 text-center col-md-2 mr-0">
        <h4> SCHEDULE </h4>
    </a>
    
    <div class="form-inline my-2 my-lg-0 mr-lg-5">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button onclick="goSignup()" type="button" class="btn btn-outline-light my-2 my-sm-0">
                <a ui-sref="signup/parent">
                    Get start
                </a>
            </button>
            <button onclick="goSignin()" type="button" class="btn btn-light  my-2 my-sm-0">
                <a ui-sref="login">
                    Sign in
                </a>
            </button>
        </div>
    </div>
</nav>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="javascripts/header.js"></script>