<body data-gr-c-s-loaded="true" class="bg-light">
    <!-- Begin import page header -->
    <% include ../partials/header %>
    <!-- End import page header -->

    <div class="container-fluid">
         <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h1 class="font-weight-bold text-dark">
                HOME PAGE!
            </h1>
        </main>
    </div>

    <!-- Begin import page footer -->
    <% include ../partials/footer%>
    <!-- End import page footer -->


    <!-- Begin import jabascript libs -->
    <% include ../partials/scripts %>
    <!-- End import jabascript libs -->
</body>